<h1><%= articles.user[0].displayName %></h1> 
<h3>Has <%=articles.length %> articles</h3>


<div class="flex-row flex-wrap justify-between">
  <% if (articles.length>0) { %> <% for (var i = 0; i < articles.length; i++ ){%>
      <div onclick="location.href='articles/<%=articles[i]._id%>'" class="card clickable width-30">
        <div class="col s12">
          <img class="responsive-img" src=<%= articles[i].image[0] %> alt="Avatar" >
        </div>
        <div class="col s12">
          <h5><b><%= articles[i].name %></b></h5>
          <%- articles[i].description %>
          <a href="/articles/user/<%= articles[i].user._id %>"><%= articles[i].user.displayName %></a>

          <br>
          
        </div>
      </div>
    
    <% } %>
    <% } else{ %>
    <h5><%= articles.user[0].displayName %> does not have any articles</h5>
    <% } %>
  </articles.length,i++){%>
</div>

