<h1>Articles</h1>

    <% if (articles.length>0) { %> <% for (var i = 0; i < articles.length; i++ ){%>
    
        <div class="card">
          <img src=<%= articles[i].image[0] %> alt="Avatar" >
          <div class="container">
            <h4><b><%= articles[i].name %></b></h4>
            <p><%= articles[i].description %></p>
            <br>
            <div class="chip">
                <a href="/articles/<%= articles[i]._id %>">Read more</a>
            </div>
            <% if (user._id.toString() == articles[i].user._id.toString()) { %>
              <div class="chip">
                <a href="/articles/edit/<%= articles[i]._id %>">Edit</a>
              </div>
            <% } %>
          </div>
        </div>
      
        <% } %>
        <% } else{ %>
        <h3>You do not have any articles</h3>
        <% } %>
      </articles.length,i++){%>
